
<div class="container mt-5">
  <div class="bg-dark white  pe-5 rounded mb-3 text-center" >
    <h1 class="px-1"> <%= @list.name %> </h1>
  </div>
  <% if @list.bookmarks.empty? %>
    <h5> <%= 'This list is empty' %> </h5>
  <% end %>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="container">
      <h3> <%= movie.title %> <%= movie.rating %> </h3>
      <p> <%= movie.overview %> </p>
      <div class="row justify-content-between">
        <p> <strong> <%= bookmark.comment %> </strong>
        <%= link_to "delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
      </div>
    </div>
  <%end %>
</div>
<hr>
<div class="container">
  <%= link_to '+ Create new bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %>
  <%= link_to 'back', lists_path, class:"btn btn-small btn-primary" %>
</div>
