<div class="container">
  <h1> New bookmark for <%= @list.name %> </h1>
</div>
<div class="container">
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, as: :select %>
  <%= f.input :comment %>
  <%= f.button :submit, class:"btn btn-primary"%>
<% end %>
</div>
<hr>
<div class="container">
  <%= link_to "Back", list_path(@list), class:"btn btn-dark btn-sm" %>
</div>
